@font-face {
    font-family: loading;
    src: url(../../../public/assets/font/HeavyLoading.ttf);
}

.loading{
    font-family: loading;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-size: 100px;
}