@font-face {
    font-family: Apple;
    src: url(../../assets/font/AppleGaramond.ttf);
}

@font-face {
    font-family: Caviar;
    src: url(../../../public/assets/font/CaviarDreams_Bold.ttf);
}

.fontList {
    font-family: Apple;
    font-size: larger;
    color: rgb(34, 0, 56);
    border: 2px solid black;
    padding: 5px;
}

.cardList{
    display: flex;
    justify-content: space-between;
    display: inline-block;
    margin: 10px;
}

.imgList{
    width: 200px;
    height: 250px;
}
